@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1>Bienvenido a Proyecto-Programacion1</h1>
    <p class="lead">Tu solución para gestionar productos y servicios.</p>
</div>
